/* CSS for Mascotas component */



.tarjeta[b-y4ol2jjobw] {
    padding: 3%;
    width: 100%;
    min-width: 70%;
    height: 50vh;
    min-height: 30vh;
   
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #322b4a;
}

    .tarjeta ul[b-y4ol2jjobw] {
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 2vh;
        width: auto;
        
        position: absolute;
        display: flex;
        justify-content:center;
        top: 7%;
        left: 5%;
      
        
    }

    .tarjeta li[b-y4ol2jjobw] {
        padding: 2% 0%;
        width: 11vh;
        min-width: 7vh;
        background-color: rgb(216,214,254,0.8 );
        background-color: #e1dce9;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        font-family: "Quicksand";
        font-size: 1rem;
        font-weight: 600;
        color: #3d1e94;
        text-align: justify;
    }

    .contenido[b-y4ol2jjobw] {
        background-color: aqua;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        overflow: hidden;

    }

    .contenido img[b-y4ol2jjobw] {
        width: 100%;
        height: 100%;
        object-fit: fill;

        object-position: center;
    }

    .texto[b-y4ol2jjobw] {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 2%;
        font-family: "baloo 2";
        font-weight: 100;
        font-size: 2rem;
    
    }

        .texto button[b-y4ol2jjobw] {
            font-family: "Quicksand";
            font-weight: 700;
            font-size: 1.2rem;
            border: 0;
            width: 20vh;
            padding: 2%;
            background-color: #5951ae;
            border-radius: 20px;
            color: #f5f5f5;
        }

.and[b-y4ol2jjobw]{
    display:flex;
    flex-direction:column;
    gap:0%;
    margin:0%;
    line-height:1.1;
    
}
.and p[b-y4ol2jjobw]{
    font-size:1rem;
}
a[b-y4ol2jjobw]{
    text-decoration:none;
    color:#f5f5f5;
}
