USE [master]
GO
/****** Objeto: Database [ZOZO] Fecha de script: 2/09/2026 12:56:06 p. m. ******/
CREATE DATABASE [ZOZO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ZOZO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\ZOZO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ZOZO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\ZOZO_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ZOZO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ZOZO]
GO
/****** Objeto: Table [dbo].[adoption_request] Fecha de script: 2/09/2026 12:56:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[adoption_request](
	[id_adoption] [int] IDENTITY(1,1) NOT NULL,
	[id_user] [int] NOT NULL,
	[id_pet] [int] NOT NULL,
	[date_request] [date] NOT NULL,
	[adoption_state] [varchar](20) NOT NULL,
	[reason] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_adoption] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[pets] Fecha de script: 2/09/2026 12:56:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pets](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](20) NOT NULL,
	[specie] [varchar](80) NOT NULL,
	[breed] [varchar](40) NULL,
	[birthdate] [date] NOT NULL,
	[description] [varchar](500) NOT NULL,
	[image] [nvarchar](max) NOT NULL,
	[state] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[users] Fecha de script: 2/09/2026 12:56:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id_user] [int] IDENTITY(1,1) NOT NULL,
	[firstname] [varchar](20) NOT NULL,
	[lastname] [varchar](20) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[phone] [varchar](10) NOT NULL,
	[adress] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[rol] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[adoption_request]  WITH CHECK ADD FOREIGN KEY([id_pet])
REFERENCES [dbo].[pets] ([id])
GO
ALTER TABLE [dbo].[adoption_request]  WITH CHECK ADD FOREIGN KEY([id_user])
REFERENCES [dbo].[users] ([id_user])
GO
ALTER TABLE [dbo].[adoption_request]  WITH CHECK ADD CHECK  (([adoption_state]='delivered' OR [adoption_state]='in progress' OR [adoption_state]='shipping'))
GO
USE [master]
GO
