* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1% 4%;
    position: absolute;
    top: 2%;
    width: 92%;
    z-index: 10;
}

    .navegacion ul {
        list-style: none;
        display: flex;
        gap: 60px;
        font-family: "Quicksand";
        font-weight: 600;
        color: #f5f5f5;
    }

    .navegacion img {
        width: 7%;
        z-index: 1;
    }

/* SOLO EN HOME */
.home-layout .navegacion {
    animation: aparecerMenu 1s ease 2.5s both;
}

@keyframes aparecerMenu {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.adoptadas-layout .navegacion {
    background-color: #b6b1d9;
    padding: 1% 2%;
    border-radius: 50px;
}
a{
    text-decoration:none;
    color:#f5f5f5;
}