/* CSS for Description component */

.body[b-dyrz89iihj] {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    gap: 50px;
}

.info[b-dyrz89iihj] {
    display: grid;
    grid-column: 1fr;
}

.image[b-dyrz89iihj] {
    width: 100%;
    min-width: 80%;
    height: 95vh;
    min-height: 90%;
    border-radius: 20px;
    background-color: aquamarine;
    overflow:hidden;
}

.info[b-dyrz89iihj] {
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: space-around;
    align-content: center;
    flex-direction: column;
    padding: 2% 0%;
    grid-template-rows: 0.2fr 1fr 4fr 0.5fr 0.5fr;
}

.info[b-dyrz89iihj] {
    font-family: "manjari";
}

    .info h1[b-dyrz89iihj] {
        font-size: clamp(5rem,2rem,2.5rem);
        font-family:"baloo 2"
    }

    .info p[b-dyrz89iihj] {
        font-size: 3rem;
        font-family:"Quicksand";
        font-weight:200
    }

    .info button[b-dyrz89iihj] {
        border: none;
        border-radius: 50px;
        color: azure;
        background: #1f2c4c;
        font-size:2rem;
    }
.image img[b-dyrz89iihj]{

    width:100%;
    object-fit:fill;
    object-position:center;
}
