/* /Components/Layout/MainLayout.razor.rz.scp.css */
*[b-0264clh1uw] {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navegacion[b-0264clh1uw] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1% 4%;
    position: absolute;
    top: 2%;
    width: 92%;
    z-index: 10;
}

    .navegacion ul[b-0264clh1uw] {
        list-style: none;
        display: flex;
        gap: 60px;
        font-family: "Quicksand";
        font-weight: 600;
        color: #f5f5f5;
    }

    .navegacion img[b-0264clh1uw] {
        width: 7%;
        z-index: 1;
    }


.home-layout .navegacion[b-0264clh1uw] {
    animation: aparecerMenu-b-0264clh1uw 1s ease 1s both;
}

@keyframes aparecerMenu-b-0264clh1uw {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.adoptadas-layout .navegacion[b-0264clh1uw] {
    background-color: #538fde;
    padding: 1% 1%;
    border-radius: 50px;
}
a[b-0264clh1uw]{
    text-decoration:none;
    color:#f5f5f5;
}
/* /Components/Layout/ReconnectModal.razor.rz.scp.css */
.components-reconnect-first-attempt-visible[b-9f3kzz4cb8],
.components-reconnect-repeated-attempt-visible[b-9f3kzz4cb8],
.components-reconnect-failed-visible[b-9f3kzz4cb8],
.components-pause-visible[b-9f3kzz4cb8],
.components-resume-failed-visible[b-9f3kzz4cb8],
.components-rejoining-animation[b-9f3kzz4cb8] {
    display: none;
}

#components-reconnect-modal.components-reconnect-show .components-reconnect-first-attempt-visible[b-9f3kzz4cb8],
#components-reconnect-modal.components-reconnect-show .components-rejoining-animation[b-9f3kzz4cb8],
#components-reconnect-modal.components-reconnect-paused .components-pause-visible[b-9f3kzz4cb8],
#components-reconnect-modal.components-reconnect-resume-failed .components-resume-failed-visible[b-9f3kzz4cb8],
#components-reconnect-modal.components-reconnect-retrying[b-9f3kzz4cb8],
#components-reconnect-modal.components-reconnect-retrying .components-reconnect-repeated-attempt-visible[b-9f3kzz4cb8],
#components-reconnect-modal.components-reconnect-retrying .components-rejoining-animation[b-9f3kzz4cb8],
#components-reconnect-modal.components-reconnect-failed[b-9f3kzz4cb8],
#components-reconnect-modal.components-reconnect-failed .components-reconnect-failed-visible[b-9f3kzz4cb8] {
    display: block;
}


#components-reconnect-modal[b-9f3kzz4cb8] {
    background-color: white;
    width: 20rem;
    margin: 20vh auto;
    padding: 2rem;
    border: 0;
    border-radius: 0.5rem;
    box-shadow: 0 3px 6px 2px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: display 0.5s allow-discrete, overlay 0.5s allow-discrete;
    animation: components-reconnect-modal-fadeOutOpacity-b-9f3kzz4cb8 0.5s both;
    &[open]

{
    animation: components-reconnect-modal-slideUp-b-9f3kzz4cb8 1.5s cubic-bezier(.05, .89, .25, 1.02) 0.3s, components-reconnect-modal-fadeInOpacity-b-9f3kzz4cb8 0.5s ease-in-out 0.3s;
    animation-fill-mode: both;
}

}

#components-reconnect-modal[b-9f3kzz4cb8]::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
    animation: components-reconnect-modal-fadeInOpacity-b-9f3kzz4cb8 0.5s ease-in-out;
    opacity: 1;
}

@keyframes components-reconnect-modal-slideUp-b-9f3kzz4cb8 {
    0% {
        transform: translateY(30px) scale(0.95);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes components-reconnect-modal-fadeInOpacity-b-9f3kzz4cb8 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes components-reconnect-modal-fadeOutOpacity-b-9f3kzz4cb8 {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.components-reconnect-container[b-9f3kzz4cb8] {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#components-reconnect-modal p[b-9f3kzz4cb8] {
    margin: 0;
    text-align: center;
}

#components-reconnect-modal button[b-9f3kzz4cb8] {
    border: 0;
    background-color: #6b9ed2;
    color: white;
    padding: 4px 24px;
    border-radius: 4px;
}

    #components-reconnect-modal button:hover[b-9f3kzz4cb8] {
        background-color: #3b6ea2;
    }

    #components-reconnect-modal button:active[b-9f3kzz4cb8] {
        background-color: #6b9ed2;
    }

.components-rejoining-animation[b-9f3kzz4cb8] {
    position: relative;
    width: 80px;
    height: 80px;
}

    .components-rejoining-animation div[b-9f3kzz4cb8] {
        position: absolute;
        border: 3px solid #0087ff;
        opacity: 1;
        border-radius: 50%;
        animation: components-rejoining-animation-b-9f3kzz4cb8 1.5s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }

        .components-rejoining-animation div:nth-child(2)[b-9f3kzz4cb8] {
            animation-delay: -0.5s;
        }

@keyframes components-rejoining-animation-b-9f3kzz4cb8 {
    0% {
        top: 40px;
        left: 40px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    4.9% {
        top: 40px;
        left: 40px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    5% {
        top: 40px;
        left: 40px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: 0px;
        left: 0px;
        width: 80px;
        height: 80px;
        opacity: 0;
    }
}
/* /Components/Mascotas.razor.rz.scp.css */
/* CSS for Mascotas component */



    .tarjeta[b-y4ol2jjobw] {
        padding: 3%;
        width: 100%;
        height: 50vh;
        border-radius: 20px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        color: #322b4a;
    }

    .tarjeta ul[b-y4ol2jjobw] {
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 2vh;
        width: auto;
       
        position: absolute;
        display: flex;
        justify-content:center;
        top: 7%;
        left: 5%;
      
        
    }

        .tarjeta li[b-y4ol2jjobw] {
          
            padding:2% 0%;
            width:130px;
       
            background-color: #ffccd3;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            font-family: "Quicksand";
            font-size:1rem;
            font-weight: 600;
            color: #a20f3a;
            text-align: justify;
        }

    .contenido[b-y4ol2jjobw] {
        background-color: aqua;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        overflow: hidden;

    }

    .contenido img[b-y4ol2jjobw] {
        width: 100%;
        height: 100%;
        object-fit: fill;

        object-position: center;
    }

    .texto[b-y4ol2jjobw] {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 2%;
        font-family: "baloo 2";
        font-weight: 100;
        font-size: 2rem;
    
    }

        .texto button[b-y4ol2jjobw] {
            font-family: "Quicksand";
            font-weight: 700;
            font-size: 1.2rem;
            border: 0;
            width: 20vh;
            padding: 2%;
            background-color: #538fde;
            border-radius: 20px;
            color: #f5f5f5;
        }

/* /Components/Pages/Contactanos.razor.rz.scp.css */
/* CSS for Contactanos component */

body[b-v4oik8hhx6] {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display:flex;
    justify-content:center;
    align-items:center;
    align-content:center;
    
}

.formulario-contenedor[b-v4oik8hhx6] {
    width: 100%;
    max-width: 500px;
    margin: 40px auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);

}

    .formulario-contenedor h2[b-v4oik8hhx6] {
        font-family: "manjari";
        font-size: 6vh;
        font-weight: 700;
        color: #605555;
        text-align:center;
    }

.campo[b-v4oik8hhx6] {
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
    
}

    .campo label[b-v4oik8hhx6] {
        font-family: "manjari";
        color: #605555;
        font-size: 18px;
        font-weight: 400;
    }

    .campo input[b-v4oik8hhx6],
    .campo textarea[b-v4oik8hhx6] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 8px;
        font-size: 15px;
        box-sizing: border-box;
    }

    .campo textarea[b-v4oik8hhx6] {
        min-height: 120px;
        resize: vertical;
    }

        .campo input:focus[b-v4oik8hhx6],
        .campo textarea:focus[b-v4oik8hhx6] {
            outline: none;
            border-color: #6c63ff;
        }

button[b-v4oik8hhx6] {
    padding: 12px 195px 12px 195px;
    background-color: #E36A73;
    border-radius: 10px;
    color: #f5f5f5;
    font-family: "manjari";
    font-size: 2.6vh;
    border:none;
}

    button:hover[b-v4oik8hhx6] {
        opacity: 0.85;
    }

.persona[b-v4oik8hhx6] {
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 12px;
}

    .persona p[b-v4oik8hhx6] {
        margin: 8px 0;
    }
.campo[b-v4oik8hhx6]  input, .campo[b-v4oik8hhx6]  textarea{
    background: transparent;
    border: 1px solid;
    color: #605656;
    padding: 10px;
    border-radius: 10px;
    height: 4.9vh;
}
    .campo[b-v4oik8hhx6]  input[type="number"] {
        appearance: textfield;
        -moz-appearance: textfield;
    }

        .campo[b-v4oik8hhx6]  input[type="number"]::-webkit-inner-spin-button,
        .campo[b-v4oik8hhx6]  input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
/* /Components/Pages/Home.razor.rz.scp.css */
/* CSS for Home component */
*[b-2ro7ndw66d]{
    box-sizing:border-box;
    margin:0%;
    padding:0%;
}
.hero[b-2ro7ndw66d] {
    width: 100%;
    height: 100vh;
    /*background-image: url('images/gato c.jpg');*/
    background-color: #1f2c4c;
}
.hero-contenido[b-2ro7ndw66d]{
    display:flex;
}
.parte1[b-2ro7ndw66d] {
    background-color: #74ade6;
    width: 50%;
    height: 100vh;
    position: relative;
    color: #f5f5f5;
    /*  background-color: #31509c;*/
    
    animation: rodar-abajo-b-2ro7ndw66d 1s ease-in;
}
#title[b-2ro7ndw66d] {

    text-align:center;
    font-family:"baloo 2";
    color:#3b3838;
}
    .parte1[b-2ro7ndw66d]::before {
        content: "Your lovely pet is waiting for you";
        position: absolute;
        font-family: "fredoka";
        font-size: 7rem;
        font-weight: 700;
        top: 30%;
        
        text-align: start;
        letter-spacing: 0.1%;
        line-height: 1;
        animation: cargar-texto-b-2ro7ndw66d 2s ease-in;
        margin:3%;
        
    }
    .parte1[b-2ro7ndw66d]::after {
        content: "When you adopt, you are not only gaining a loyal friend—you are also giving an animal  the opportunity to live a better life.";
        position: absolute;
        top: 65%;
        margin: 1% 4%;
        font-size: 1.5rem;
        font-family: "manjari";
        font-weight:200;
        line-height:1;
        text-align:start;
        animation:cargar-texto-b-2ro7ndw66d 2.5s ease-in;
    }
.parte1 p[b-2ro7ndw66d]{
    font-family:"baloo 2";
}
.parte2[b-2ro7ndw66d] {
    width: 50%;
    background-color: brown;
    height: 100vh;
    overflow: hidden;
    animation: rodar-arriba-b-2ro7ndw66d 1s ease-in;
}

@keyframes rodar-abajo-b-2ro7ndw66d {
    0%{
        transform:translateY(-50vw);

    }
    100% {
        transform: translateY(0vw);
    }
}
@keyframes cargar-texto-b-2ro7ndw66d {

    0% {
        opacity:0;
        transform:translateY(5vh);
    }
    50%{
        opacity:0;
    }
    100% {
        opacity: 1;
        transform: translateY(0vh);
    }
                        }
@keyframes rodar-arriba-b-2ro7ndw66d {
    0% {
        transform: translateY(50vh);
        opacity: 0;
    }

    100% {
        transform: translateY(0vh);
        opacity: 1;
    }
}
.parte2 img[b-2ro7ndw66d]{
    width:100%;
    height:100vh;
    object-fit:cover;
    object-position:right;
}

.tarjetas[b-2ro7ndw66d] {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 5% 7%;
    width: 86%;
    margin: 5% auto;
    justify-content: center;
    align-content: center;
}
/* /Components/Pages/Mascotadoptada.razor.rz.scp.css */
/* CSS for Mascotadoptada component */
h1[b-7q3s42vrad] {
    text-align: center;
    font-family: "Baloo 2";
    font-size: 3rem;
    margin: 13% 6% 4% 6%;
    color: #1f2c4c;
}
.fijar[b-7q3s42vrad] {
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin: 5%;
    gap:25px
}
.perfil[b-7q3s42vrad] {
    display: flex;
    flex-direction: row;
    background-color: #f1f7fd;
    padding: 1%;
    width: 60%;
    height: 35vh;

    border-radius: 20px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #1f2c4c;
}

.texto p[b-7q3s42vrad] {
    
        font-family: "Quicksand";
        font-weight: 500;
}

.imagen[b-7q3s42vrad] {
    background-color: aqua;
    width: 50%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
  
}

 .imagen img[b-7q3s42vrad] {
        width: 100%;
        height: 100%;
        object-fit: fill;
        object-position: center;
 }
 .texto h3[b-7q3s42vrad]{
     line-height:1;
 }

.texto[b-7q3s42vrad] {
    display: flex;
    flex-direction: column;
    align-items:start;
    width: 100%;
    gap:20px;
    padding:2%;
    font-family: "baloo 2";
    font-weight: 200;
    font-size: 2rem;
    
}

.texto p[b-7q3s42vrad]{
    font-size:1.2rem;
    bottom:100%;
}
    .texto button[b-7q3s42vrad] {
        font-family: "Quicksand";
        font-weight: 700;
        font-size: 1.2rem;
        border: 0;
        width: 20vh;
        padding: 1%;
        background-color: #b6b1d9;
        border-radius: 15px;
        color: #30323D;
        cursor: pointer;
        position:absolute;
        right:1%;
        bottom:4%;
    
    }

#g[b-7q3s42vrad]{
   font-size:0.9rem;
   position:absolute;
   top:27%;
}
